<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/index/css/GL.css">
    <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/index/js/swiper-3.4.2.min.js"></script>

</head>

<body>
<div class="top_find">
    <div class="top_find_son">
        <!--      <img src="/index/img/top_find_logo.png" alt="">-->
        <div class="input_find">
            <span style="background: url(../index/img/img_12.png) 0 -1px;"></span>
            <a href="/static/#"><img src="/index/img/img_09.png"/></a>
        </div>
    </div>
</div>
<ul class="left_floor">

</ul>
<header>

    <div class="header_head">
        <div class="header_head_box">
            <a href="http://happymall.com" class="img"><img style="width: 169px; height: 52px"
                                                            src="/static/login/JD_img/newlogo.jpg"/></a>
            <ul>
                <li>
                    <a style="font-family: sans-serif" th:if="${session.loginUser!=null}">Welcome: <b>[[${session.loginUser==null?'
                        ':session.loginUser.nickname}]]</b></a>
                    <a href="http://auth.happymall.com/login.html" th:if="${session.loginUser==null}"
                       style="font-family: sans-serif"><b>Sign in</b></a>
                </li>
                <li>
                    <a th:if="${session.loginUser==null}" href="http://auth.happymall.com/register.html"
                       style="font-family: sans-serif">Register</a>
                </li>
                <span>|</span>
                <li>
                    <a href="http://member.happymall.com/memberOrder.html">Order</a>
                </li>


            </ul>
        </div>
    </div>
    <!--搜索导航-->
    <div class="header_sous">
        <div class="header_form">
            <input id="searchText" type="text" placeholder=""/>
            <span style="background: url(../index/img/img_12.png) 0 -1px;"></span>
            <!--<button><i class="glyphicon"></i></button>-->
            <a href="javascript:search();"><img src="/index/img/img_09.png"/></a>
        </div>
        <div class="header_ico">
            <div class="header_gw">
                <a href="http://cart.happymall.com/cart.html"><img src="/index/img/img_15.png"/></a>
                <span><a href="http://cart.happymall.com/cart.html"
                         style="font-family: sans-serif"><b>Cart</b></a></span>
            </div>

        </div>


    </div>
    <!--轮播主体内容-->
    <div class="header_main">
        <div class="header_banner">
            <div class="header_main_left">
                <ul>
                    <li th:each="category : ${categories}">
                        <a href="/static/#" class="header_main_left_a" th:attr="ctg-data = ${category.catId}"><b
                                th:text="${category.name}" style="font-family: sans-serif"></b></a>

                    </li>
                </ul>

            </div>
            <div class="header_main_center">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"><img style="width: 790px; height: 340px"
                                             src="https://media-www.canadiantire.ca/banners/promo-content/2022/09/odp-2022-309hp-3tile-shopping-clearance-en.png"/></a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#"><img style="width: 790px; height: 340px"
                                             src="https://media-www.canadiantire.ca/banners/promo-content/2022/09/odp-2022-309hp-3tile-shopping-hotsale-en.png"/></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="header_main_center_b">
                    <a href="#"><img style="width: 390px; height: 130px"
                                     src="https://media-www.canadiantire.ca/banners/category-content/2022/canadiantire-ca-home-pets-2022-/ct-2022-pet-campaign-banner-slim-banner.png"/></a>
                    <a href="#"><img style="width: 390px; height: 130px"
                                     src="https://media-www.canadiantire.ca/banners/category-content/2022/canadiantire-ca-automotive-2022-/ct-2022-auto-bts-lp-slim-banner-wk2-en.png"/></a>
                </div>
            </div>

        </div>
    </div>

    </div>
</header>


</body>
<script type="text/javascript">
    function search() {
        var keyword = $("#searchText").val()
        window.location.href = "http://search.happymall.com/list.html?keyword=" + keyword;
    }

</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
