<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/search/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/search/font/iconfont.css">
    <!--<script src="/static/search/./js/jquery-3.2.1.min.js"></script>-->
    <script src="/static/search/js/jquery-1.12.4.js"></script>
    <title>Document</title>
</head>
<body>
<!--头部-->
<div class="header_head">
    <div class="header_head_box">
        <b class="header_head_p">
            <div style="overflow: hidden">
                <a href="http://happymall.com" class="header_head_p_a1" style="font-family: sans-serif; width:73px">
                    Happymall
                </a>
                <a href="/static/search/#" class="header_head_p_a" style="font-family: sans-serif; width:73px">
                    <!--<img src="/static/search/img/img_05.png" style="border-radius: 50%;"/>-->
                    Edmonton</a>
            </div>

        </b>
        <ul>
            <li>
                <a  style="font-family: sans-serif" th:if="${session.loginUser!=null}"><b>[[${session.loginUser==null?' ':session.loginUser.nickname}]]</b></a>
                <a href="http://auth.happymall.com/login.html" th:if="${session.loginUser==null}" style="font-family: sans-serif"><b>Sign in</b></a>
            </li>
            <li>
                <a th:if="${session.loginUser==null}" href="http://auth.happymall.com/register.html" style="font-family: sans-serif">Register</a>
            </li>
            <span>|</span>
            <li>
                <a href="/static/search/#">Order</a>
            </li>



        </ul>
    </div>
</div>

<!--搜索导航-->
<div class="header_sous">
    <div class="logo">
        <a href="http://happymall.com"><img style="width: 169px; height: 52px" src="/static/login/JD_img/newlogo.jpg" alt=""></a>
    </div>
    <div class="header_form">
        <input id="keyword_input" type="text" placeholder="iPhone" th:value="${param.keyword}"/>
        <a href="javascript:searchByKeyword();" style="font-family: sans-serif"><b>Search</b></a>
    </div>
    <div class="header_ico">
        <div class="header_gw">
            <span><a href="/static/search/#" style="font-family: sans-serif"><b>Cart</b></a></span>
            <img src="/static/search/image/settleup-@1x.png"/>
            <span>0</span>
        </div>

    </div>

    <nav>
        <ul>
            <li class="nav_li1">
                <a href="/static/search/#" style="font-family: sans-serif">All Categories</a>
            </li>
        </ul>
    </nav>
</div>

<hr style="border: 1px solid red;margin-top: -7px;">



<div class="JD_ipone">
    <div class="JD_ipone_bar">


        <div class="JD_ipone_one c">
            <a th:href="${nav.link}" th:each="nav:${result.navs}">
                <span th:text="${nav.navName}" style="font-family: sans-serif"></span>:  <span th:text="${nav.navValue}" style="font-family: sans-serif"></span>
                <b style="font-family: sans-serif">x</b>
            </a>

        </div>
        <i><img src="/static/search/image/right-@1x.png" alt=""></i>

    </div>
</div>

<!--商品筛选和排序-->
<div class="JD_banner w">
    <div class="JD_nav">
        <div class="JD_selector">
            <!--手机商品筛选-->
            <div class="title">

                <div class="st-ext">Total&nbsp;<span th:text="${result.total}"></span></div>
            </div>
            <div class="JD_nav_logo" th:with="brandid=${param.brandId}">
                <!--Brand-->
                <div class="JD_nav_wrap" th:if="${#strings.isEmpty(brandid)}">
                    <div class="sl_key">
                        <span><b style="font-family: sans-serif">Brand: </b></span>
                    </div>
                    <div class="sl_value">
                        <div class="sl_value_logo">
                            <ul>
                                <li th:each="brand:${result.brands}">
                                    <a th:href="${'javascript:searchProducts(&quot;brandId&quot;, '+brand.brandId+')'}">
                                        <img th:src="${brand.brandImg}" alt="" width="106px" height="36px">
                                        <div th:text="${brand.brandName}"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!--Category-->
                <div class="JD_nav_wrap">
                    <div class="sl_key">
                        <span><b style="font-family: sans-serif">Category: </b></span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="catalog:${result.catalogs}">
                                <a th:href="${'javascript:searchProducts(&quot;catalog3Id&quot;, '+catalog.catalogId+')'}"
                                   th:text="${catalog.catalogName}" style="text-decoration: none; font-family: sans-serif"></a>
                            </li>
                        </ul>
                    </div>

                </div>

                <!--attribute-->
                <div class="JD_pre" th:each="attr:${result.attrs}" th:if="${!#lists.contains(result.attrIds, attr.attrId)}">
                    <div class="sl_key">
                        <span th:text="${attr.attrName}" style="font-family: sans-serif"></span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="val:${attr.attrValue}">
                                <a th:href="${'javascript:searchProducts(&quot;attrs&quot;,&quot;'+attr.attrId+'_'+val+'&quot;)'}"
                                   th:text="${val}" style="font-family: sans-serif"></a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <!--Sort-->
        <div class="JD_banner_main">

            <!--综合排序-->
            <div class="JD_con_right">
                <div class="filter">
                    <!--Relevant sort-->
                    <div class="filter_top">
                        <div class="filter_top_left" th:with="p = ${param.sort}, priceRange = ${param.skuPrice}">
                            <a sort="hotScore"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'hotScore') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(#strings.isEmpty(p) || #strings.startsWith(p,'hotScore')) ?
                                   'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }" href="#"
                               style="font-family: sans-serif">
                                <span style="font-family: sans-serif">Relevance</span>
                                [[${(!#strings.isEmpty(p) && #strings.startsWith(p,'hotScore') &&
                                #strings.endsWith(p,'desc')) ?'↑':'↓' }]]</a>
                            <a sort="saleCount"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount')) ?
                                   'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }" href="#"
                               style="font-family: sans-serif">
                                <span style="font-family: sans-serif">Best seller</span>
                                [[${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount') &&
                                #strings.endsWith(p,'desc'))?'↑':'↓' }]]</a>
                            <a sort="skuPrice"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice')) ?
                                   'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }" href="#"
                               style="font-family: sans-serif">
                                <span style="font-family: sans-serif">Price</span>
                                [[${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice') &&
                                #strings.endsWith(p,'desc'))?'↑':'↓' }]]</a>
<!--                            <a sort="hotScore" class="sort_a">评论分</a>-->
<!--                            <a sort="hotScore" class="sort_a">上架时间</a>-->
                            <input id="skuPriceFrom" type="number"
                                   th:value="${#strings.isEmpty(priceRange)?'':#strings.substringBefore(priceRange,'_')}"
                                   style="width: 100px; margin-left: 30px">
                            -
                            <input id="skuPriceTo" type="number"
                                   th:value="${#strings.isEmpty(priceRange)?'':#strings.substringAfter(priceRange,'_')}"
                                   style="width: 100px">
                            <button id="skuPriceSearchBtn">Confirm</button>
                        </div>
                    </div>
                    <!--收货地址-->
                    <div class="filter_bottom">
                        <div class="filter_bottom_left">
                            <div class="fs-cell" style="font-family: sans-serif">Deliver to</div>
                            <div class="dizhi">
                                <div class="dizhi_show">
                                    <em>Edmonton</em>
                                    <b></b>
                                </div>
                            </div>
                            <div class="dizhi_con">

                                <div id="container">
                                    <div id="content1" style="z-index: 1;">
                                        <a href="/static/search/#">AB</a>
                                        <a href="/static/search/#">BC</a>
                                        <a href="/static/search/#">SK</a>
                                        <a href="/static/search/#">ON</a>
                                        <a href="/static/search/#">MB</a>
                                        <a href="/static/search/#">QC</a>
                                        <a href="/static/search/#">NL</a>
                                        <a href="/static/search/#">NB</a>
                                        <a href="/static/search/#">PE</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="filter_bottom_right">
                            <ul>
                                <li>
                                    <a href="/static/search/#" style="font-family: sans-serif">
                                        <i></i>
                                        <b>In Stock</b>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--排序内容-->
                    <div class="rig_tab">
                        <div th:each="product:${result.getProducts()}">
                            <div class="ico">
                                <i class="iconfont icon-weiguanzhu"></i>
                                <a href="/static/search/#">Watchlist</a>
                            </div>
                            <p class="da">
                                <a th:href="|http://item.happymall.com/${product.skuId}.html|">
                                    <img th:src="${product.skuImg}" class="dim">
                                </a>
                            </p>
                            <ul class="tab_im">
                                <li><a href="/static/search/#" title="黑色">
                                    <img th:src="${product.skuImg}"></a></li>

                            </ul>
                            <p class="tab_R">
                                <span th:text="'$'+${product.skuPrice}"></span>

                            </p>
                            <p class="tab_JE">
                                <a href="/static/search/#" th:utext="${product.skuTitle}">

                                </a>

                            </p>
                        </div>

                    </div>
                    <!--Page-->
                    <div class="filter_page">

                        <div class="page_wrap">
                            <span class="page_span1">
                                <a class="page_a" th:attr="pn=${result.pageNum - 1}" href="#"
                                   th:if="${result.pageNum>1}">
                                    < Prev
                                </a>
                                <a class="page_a"
                                   th:attr="pn=${navs},style=${navs == result.pageNum?'border: 0;color:#ee2222;background: #fff':''}"
                                   th:each="navs : ${result.pageNavs}" href="#">[[${navs}]]</a>
                                <a class="page_a" th:attr="pn=${result.pageNum + 1}"
                                   th:if="${result.pageNum<result.totalPages}" href="#">
                                    Next >
                                </a>
                            </span>
                            <span class="page_span2">
                                <em>Total <b>[[${result.totalPages}]]</b>&nbsp;&nbsp;To</em>
                                <input type="number" value="1">
                                <em>page</em>
                                <a class="page_submit">Go</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">

    <div class="footer_foot">
    </div>
</footer>



<script>
    $(".sl_ext a:nth-child(1)").hover(function () {
        $(this).children("b").stop(true).animate({top: "3px"}, 50);
        $(this).children("i").stop(true).animate({top: "-23px"}, 50)
    }, function () {
        $(this).children("b").stop(true).animate({top: "24px"}, 50);
        $(this).children("i").stop(true).animate({top: "3px"}, 50)
    });
    $(".sl_ext a:nth-child(2)").hover(function () {
        $(this).children("span").stop(true).animate({top: "-1px"}, 100);
        $(this).children("i").stop(true).animate({top: "-14px"}, 100).css({display: "none"})
    }, function () {
        $(this).children("span").stop(true).animate({top: "14px"}, 100);
        $(this).children("i").stop(true).animate({top: "-1px"}, 100).css({display: "block"})
    });
    $('.tab_im img').hover(function () {
        var a = $(this).prop('src');
        var index = $(this).parents('li').index();
        $(this).parents('li').css('border', '2px solid red').siblings('li').css('border', '1px solid #ccc');
        $(this).parents('ul').prev().find('img').prop('src', a);
        $(this).parents('ul').siblings('.tab_JE').find('a').eq(list).css('display', 'block').siblings('a').css('display', 'none');
        $(this).parents('ul').siblings('.tab_R').find('span').eq(list).css('display', 'block').siblings('span').css('display', 'none')
    });

    $(".JD_ipone_one").hover(function () {
        $(this).children("div").css({display: "block"})
    }, function () {
        $(this).children("div").css({display: "none"})
    });

    $("#tab>li").click(function () {
        var i = $(this).index();
        $("#container>div").hide().eq(i).show()
    });
    $(".dizhi_show").hover(function () {
        $(".dizhi_con").css({display: "block"})
    }, function () {
        $(".dizhi_con").css({display: "none"})
    });
    $(".dizhi_con").hover(function () {
        $(this).css({display: "block"})
    }, function () {
        $(this).css({display: "none"})
    });
    //显示隐藏
    var $li = $(".JD_nav_logo>div:gt(3)").hide();
    $('.JD_show span').click(function () {
        if ($li.is(':hidden')) {
            $li.show();
            $(this).css({width: "86px"}).text('收起 ^');
        } else {
            $li.hide();
            $('.JD_show span').css({width: "291px"}).text('更多选项（ CPU核数、网络、机身颜色 等）');
        }
        return false;
    });


    $(".rig_tab>div").hover(function () {
        var i = $(this).index();
        $(this).find('.ico').css({display: 'block'}).stop(true).animate({top: "190px"}, 300)
    }, function () {
        var i = $(this).index();
        $(this).find('.ico').css({display: 'none'}).stop(true).animate({top: "230px"})
    });

    $('.header_main_left>ul>li').hover(function () {
        $(this).css({
            background: "#f0f0f0"
        }).find('.header_main_left_main').stop(true).fadeIn(300)
    }, function () {
        $(this).css({
            background: "#fff"
        }).find(".header_main_left_a").css({
            color: "#000"
        });
        $(this).find('.header_main_left_main').stop(true).fadeOut(100)
    });
    $(".header_sj a").hover(function () {
        $(this).css({
            background: "#444"
        })
    }, function () {
        $(this).css({
            background: "#6e6568"
        })
    });


    $(".nav_li1 a").hover(function () {
        $(".header_main_left").stop(true).fadeIn()
    }, function () {
        $(".header_main_left").stop(true).fadeOut()
    });
    $(".header_main_left").hover(function () {
        $(this).stop(true).fadeIn()
    }, function () {
        $(this).stop(true).fadeOut()
    });


    //右侧侧边栏
    $(".header_bar_box ul li").hover(function () {
        $(this).css({
            background: "#7A6E6E"
        }).children(".div").css({
            display: "block"
        }).stop(true).animate({
            left: "-60px"
        }, 300)
    }, function () {
        $(this).css({
            background: "#7A6E6E"
        }).children(".div").css({
            display: "none"
        }).stop(true).animate({
            left: "0"
        }, 300)
    });


    //底部
    $(".footer_foot .p1 a").hover(function () {
        $(this).css("color", "#D70B1C")
    }, function () {
        $(this).css("color", "#727272")
    });

    $(".footer .footer_center ol li a").hover(function () {
        $(this).css("color", "#D70B1C")
    }, function () {
        $(this).css("color", "#727272")
    })

    function searchProducts(name, value) {
        //原來的页面
        location.href = replaceParamVal(location.href,name,value,true)
    }


    function searchByKeyword() {
        searchProducts("keyword", $("#keyword_input").val());
    }

    $(".page_a").click(function () {
        var pn = $(this).attr("pn");
        var href = location.href;
        if (href.indexOf("pageNum") != -1) {
            //替换pageNum
            location.href = replaceParamVal(href, "pageNum", pn);
        } else {
            location.href = location.href + "&pageNum=" + pn;
        }
        return false;
    })

    function replaceParamVal(url, paramName, replaceVal,forceAdd) {
        var oUrl = url.toString();
        var nUrl;
        if (oUrl.indexOf(paramName) != -1) {
            if( forceAdd ) {
                if (oUrl.indexOf("?") != -1) {
                    nUrl = oUrl + "&" + paramName + "=" + replaceVal;
                } else {
                    nUrl = oUrl + "?" + paramName + "=" + replaceVal;
                }
            } else {
                var re = eval('/(' + paramName + '=)([^&]*)/gi');
                nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            }
        } else {
            if (oUrl.indexOf("?") != -1) {
                nUrl = oUrl + "&" + paramName + "=" + replaceVal;
            } else {
                nUrl = oUrl + "?" + paramName + "=" + replaceVal;
            }
        }
        return nUrl;
    };

    $(".sort_a").click(function () {
        changeStyle(this);
        let sort = $(this).attr("sort");
        sort = $(this).hasClass("desc") ? sort + "_desc" : sort + "_asc";
        location.href = replaceParamVal(location.href, "sort", sort,false);

        return false;
    });

    function changeStyle(ele) {
        // location.href = replaceParamVal(href, "pageNum", pn,flase);
        // color: #333; border-color: #ccc; background: #fff
        // color: #fff; border-color: #e4393c; background: #e4393c
        $(".sort_a").css({"color": "#333", "border-color": "#ccc", "background": "#fff"});
        $(".sort_a").each(function () {
            let text = $(this).text().replace("↓", "").replace("↑", "");
            $(this).text(text);
        })

        $(ele).css({"color": "#FFF", "border-color": "#e4393c", "background": "#e4393c"});
        $(ele).toggleClass("desc");

        if ($(ele).hasClass("desc")) {
            let text = $(ele).text().replace("↓", "").replace("↑", "");
            text = text + "↓";
            $(ele).text(text);
        } else {
            let text = $(ele).text().replace("↓", "").replace("↑", "");
            text = text + "↑";
            $(ele).text(text);
        }
    };


    $("#skuPriceSearchBtn").click(function () {
        let from = $(`#skuPriceFrom`).val();
        let to = $(`#skuPriceTo`).val();

        let query = from + "_" + to;
        location.href = replaceParamVal(location.href, "skuPrice", query,false);
    });


    $("#showHasStock").change(function () {
        alert( $(this).prop("checked") );
        if( $(this).prop("checked") ) {
            location.href = replaceParamVal(location.href,"hasStock",1,false);
        } else {
            let re = eval('/(hasStock=)([^&]*)/gi');
            location.href = (location.href+"").replace(re,"");
        }
        return false;
    });


</script>
</body>
</html>